*{
	padding: 0;
	margin: 0;		
	box-sizing: border-box;
	outline: 1px solid purple;
}
body{
	font-family: monospace;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

}
nav{
	background: #008080; 
	width: 100%;
}
.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 50px;
	font-weight: bold;
} 
nav ul{
	display: flex;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px 6px;
	border-radius: 3px;	
}
nav ul li a:hover{
	background: #027575;
	transition: .1s;
}
.toggle-button{
	position: absolute;
	top: 1.8rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;

}
.toggle-button .bar{
	height: 1px;
	width: 100%;
	background-color: whitesmoke;
	border-radius: 10px;
}
@media(max-width: 600px){
.toggle-button{
	display: flex;
}
.navbar-links {
	display: none;
	width: 100%;
}

.navbar {
	flex-direction: column;
	align-items: flex-start;
	
} 
nav ul{
	flex-direction: column;
	width: 100%;
	
}
nav ul li{
	text-align: center;
	
}
.navbar-links li a{
	padding: 0.5rem 1rem;
	display: block;
}
.navbar-links.active{
	display: flex;
}
}